# Configuration for default development using MySQL database

#spring:
#  profiles:
#    active: local

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/neighbourly
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
  sql:
    init:
      platform: mysql
      mode: always

logging:
  level:
    org:
      springframework:
        jdbc: DEBUG
        security: DEBUG
        web: DEBUG
      hibernate:
        SQL: DEBUG

server:
  port: 8081
